body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    margin-bottom: 20px;
}

#quiz-container {
    display: none;
}

#options li {
    cursor: pointer;
    list-style-type: none;
    margin-bottom: 10px;
}

#result {
    display: none;
}

button {
    margin: 10px;
}
